article#my_page .content_width {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  height: 45vh; }
  article#my_page .content_width .menu_box {
    margin: 5%; }
  article#my_page .content_width a {
    padding: 1% 3%;
    border: 2px solid #3b4675;
    display: block;
    margin: 2% auto;
    width: 60%;
    border-radius: 15px;
    font-size: 130%;
    color: #3b4675;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      article#my_page .content_width a {
        padding: 3% 4%;
        width: 100%; } }
