@import "../mixin";

article{
    &#member_info_edit_done{
        text-align: center;
        color: $mainColor;
        h2{
            margin: 2%;
        }
        div{
            margin: 3%;
            a{
                display: block;
                margin: 3% auto;
                text-decoration: none;
                @include mq-max(){
                    padding: 3% 5%;
                    width: 80%;
                }
            }
        }
    }
}