article#shop_form_check .content_width {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #3b4675; }
  article#shop_form_check .content_width .box {
    margin-bottom: 2%; }
    article#shop_form_check .content_width .box.first {
      margin-top: 2%; }
    article#shop_form_check .content_width .box .title {
      font-weight: bold; }
  article#shop_form_check .content_width .fix_button {
    margin: 1%; }
    @media screen and (max-width: 767px) {
      article#shop_form_check .content_width .fix_button {
        margin: 2% 0;
        width: 85%;
        padding: 3% 5%; } }
