article#shop_form_done .content_width {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: #3b4675; }
  article#shop_form_done .content_width h2 {
    margin: 2%; }
  article#shop_form_done .content_width .fix_button {
    display: block;
    margin: 2% auto; }
    @media screen and (max-width: 767px) {
      article#shop_form_done .content_width .fix_button {
        width: 85%;
        padding: 3% 5%; } }
