@import 'scss/mixin';

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  // color: $mainColor;
}

// input[type='submit'],
// button {
//   -webkit-appearance: none;
// }

/* iOSでのデフォルトスタイルをリセット */
input[type='submit'],
input[type='button'] {
  // border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  // border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}
